<ion-view view-title="Portada">
	<ion-nav-bar class="custom" style="color:white;">
        <ion-nav-back-button></ion-nav-back-button>
      </ion-nav-bar>
  <ion-content class="custom">
    <!-- <h1>Portada</h1> -->

	<div style="height:180px" class=" row ayto">
		<br>
		<div class="col-20"></div>
		<div class="col col-center">
  			<h1 style="color:white; text-align:center;">Municipio</h1>
  			<hr>
			<p style="color:white; text-align:center;">Ruta de la tapa</p>
  		</div>
  		<div class="col col-center col-20">
  			<a class="button icon-right ion-chevron-right button-clear button-dark" style="color:white;"></a>
  		</div>	
	</div> 

	<div style="height:180px" class="row clasificacion">
		<br>
		<div class="col-20"></div>
		<div class="col col-center">		
			<h1 style="color:white; text-align:center;">Clasificación</h1>
  			<hr>
			<p style="color:white; text-align:center;">Vota tu tapa favorita</p>
		</div>
		<div class="col col-center col-20">
			<a class="button icon-right ion-chevron-right button-clear button-dark" style="color:white;"></a>
		</div>
	</div>


	<div style="height:180px" class="row mapa">
		<br>
		<div class="col-20"></div>
		<div class="col col-center">
			<h1 style="color:white; text-align:center;">Mapa</h1>
  			<hr>
			<p style="color:white; text-align:center;">Ruta de la tapa</p>
		</div>
		<div class="col col-center col-20">
			<a class="button icon-right ion-chevron-right button-clear button-dark" style="color:white;"></a>
		</div>
	</div>




  </ion-content>
</ion-view>

