/* Menú con imagen de fondo (o color) */

body{
	font-family: 'Open Sans', sans-serif;
}

.custom{
	 
	background: 
	linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
	url(../img/background.jpg) no-repeat center center fixed !important;  
	
	
}

.menulista .item{
	background-color:transparent;
	border:none;
	color:white;
	
}


.menulista .item-complex .item-content, .dark .item-radio .item-content{
	background-color:transparent;
} 

.bar.bar-light{
	background: 
	linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
	url(../img/background.jpg) no-repeat center center fixed !important; 

}

.ayto{
	background: 
	linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
	url(../img/ayuntamiento.jpg) no-repeat center center fixed !important; 
	
}

.clasificacion{
	background: 
	linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
	url(../img/clasificacion.png) no-repeat center center fixed !important; 
	
}

.mapa{
	background: 
	linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
	url(../img/mapa.jpg) no-repeat center center fixed !important; 

}

hr{
	border-color:orange;
	width: 75%;
}
